@import '../../vars';

.toolbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px;
  border-bottom: 1px solid $color-border;
}

.toolbar__item {
  width: calc(50% - 10px);
  margin-right: 20px;
  margin-bottom: 20px;
  &:nth-child(even) {
    margin-right: 0;
  }
}

.toolbar__btn {
  width: 100%;
}

@media screen and (max-width: $screen-sm - 1px) {
  .toolbar {
    padding: 15px 0px;
  }
}
