@import '../../vars';

.toolbar {
  padding: 30px;
  border-bottom: 1px solid $color-border;
  background-color: $white;
  position: sticky;
  z-index: 1;
  top: 0;
}

.toolbar__user {
  margin-bottom: 10px;
  b {
    font-weight: 500;
  }
}

.toolbar__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 10px;
}

.toolbar__btn {
  width: 100%;
}

.toolbar__btn-favorite {
  &--active {
    svg,
    path,
    span {
      color: $color-favorite;
    }
  }
}

@media screen and (max-width: $screen-sm - 1px) {
  .toolbar {
    padding: 15px 0px;
    position: static;
  }
}
