@import '../../../vars';

.search-button {
  @include link-hover(true);
  color: $color-primary;
  opacity: 0.5;
  &:hover {
    color: $color-secondary;
    opacity: 1;
    svg {
      transform: rotate(90deg);
    }
  }
  svg {
    margin-left: 5px;
    transition: transform 0.3s;
  }
}

@media screen and (max-width: $screen-sm - 1px) {
  .search-button {
    span {
      display: none;
    }
  }
}
