@import '../../../vars';

.header-links {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 15px;
    }
    a {
      @include link-hover(true);
      &:hover {
        color: $color-secondary;
      }
    }
  }
}
