@import '../../../vars';

.footer-bottom {
  background-color: $color-primary;
  padding: 20px 0;
  color: $white;
}

.footer-bottom__wrapper {
  display: flex;
  align-items: center;
}

.footer-bottom__associations {
  max-width: 200px;
  margin-right: 50px;
}

.footer-bottom__privacy-link {
  a {
    @include link-hover(true);
    font-size: 14px;
    &:hover {
      opacity: 0.7;
    }
  }
}

.footer-bottom__usm-logo {
  margin-left: auto;
  max-width: 160px;
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.7;
  }
}

@media screen and (max-width: $screen-sm - 1px) {
  .footer-bottom__wrapper {
    flex-direction: column;
  }
  .footer-bottom__associations {
    margin-right: 0;
  }
  .footer-bottom__privacy-link {
    margin: 20px 0;
  }
  .footer-bottom__usm-logo {
    margin: initial;
  }
}
