$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Merriweather', serif;

$container-width: 1440px;
$sidebar-width: 550px;
$max-screen: 2560px;
$mobile-nav-breakpoint: 1350px;

$fsz-default: 16px;
$fsz-small: 12px;

$color-primary: #032757;
$color-secondary: #4fbeff;
$color-border: #ebebeb;
$color-success: #00cc33;
$color-loading: #9ebe0b;
$color-error: #db290a;
$white: #ffffff;
$black: #131313;

$z-index-modal: 9999;

@mixin link-hover($color-inherit: false) {
  text-decoration: none;
  @if $color-inherit {
    color: inherit;
  }
  &:hover,
  &:focus,
  &:active,
  &:focus-within {
    text-decoration: none;
  }
}

$screen-xs: 360px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1440px;

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@mixin small-text {
  font-size: 13px;
  opacity: 0.67;
}
