@import './vars';

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

.sm-only {
  display: none;
  @media screen and (max-width: $screen-sm - 1px) {
    display: block;
  }
}
