@import '../../vars';

.slider {
  &__wrapper-outer {
    overflow: hidden;
    min-height: 1px;
  }
  &__wrapper {
    display: flex;
    flex-wrap: nowrap;
    transition: all 0.3s;
  }
  &__item {
    // display: none;
    flex-shrink: 0;
    img {
      display: block;
    }
    &--active {
      //   display: block;
    }
  }
}
