@import '../../vars';

.slider {
  &--full-screen {
    @media screen and (min-width: $screen-md) {
      overflow-y: auto;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 1000;
      width: 100%;
      height: 100%;
      background-color: $white;
      display: flex;
      flex-direction: column;
      .slider {
        &__main {
          flex-grow: 1;
          .slider__item {
            display: flex;
            align-items: center;
          }
          img {
            width: auto;
            margin: 0 auto;
            height: 100%;
          }
        }
        &__item {
          height: 100%;
        }
        &__wrapper-outer {
          height: 100%;
        }
        &__wrapper {
          height: 100%;
        }
      }
    }
  }
  &__main {
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
    img {
      max-height: 700px;
    }
  }
  &__thumbs {
    .slider__item {
      cursor: pointer;
      &--active {
        &::before {
          content: '';
          display: block;
          width: calc(100% - 5px);
          height: 100%;
          border: 3px solid $color-secondary;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }
  &__wrapper-outer {
    overflow: hidden;
    min-height: 1px;
  }
  &__wrapper {
    display: flex;
    flex-wrap: nowrap;
    transition: all 0.3s;
  }
  &__item {
    flex-shrink: 0;
    position: relative;
    img {
      display: block;
      padding-right: 5px;
      width: 100%;
    }
  }
  &__button {
    padding: 10px;
    background: transparent;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s;
    &:hover {
      opacity: 1;
    }
    svg path {
      color: $white;
      filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.4));
    }
    &--prev {
      left: 0;
    }
    &--next {
      right: 5px;
    }
    &--full-screen {
      left: 50%;
      transform: translateX(-50%);
      bottom: -100px;
      top: auto;
      opacity: 0;
      transition: bottom 0.3s, opacity 0.3s;
      &--active {
        bottom: 10px;
        opacity: 1;
      }
    }
    &--disable-full-screen {
      right: 20px;
      left: auto;
      top: 20px;
      transform: none;
    }
  }
}

@media screen and (max-width: $screen-sm - 1px) {
  .slider {
    padding-left: 5px;
    &__thumbs {
      .slider__item {
        &--active {
          &::before {
            border-width: 2px;
          }
        }
      }
    }
    &__button {
      svg {
        max-width: 20px;
      }
      &--full-screen {
        display: none;
      }
    }
  }
}
