@import '../../vars';

.form {
  margin-top: 20px;
}

.form__field {
  margin-bottom: 10px;
}

.form__input {
  font-family: $font-primary;
  border: 1px solid $color-border;
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  transition: box-shadow 0.3s;
  &:focus {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
}

.form__textarea {
  resize: none;
  height: 100px;
}

.form__button {
  width: 100%;
  &--loading {
    svg {
      animation: spin 2s linear infinite;
    }
  }
  &--loading {
    background-color: $color-loading;
    border-color: $color-loading;
  }
  &--success {
    background-color: $color-success;
    border-color: $color-success;
  }
  &--error {
    background-color: $color-error;
    border-color: $color-error;
  }
}

.form__disclaimer {
  font-size: 10px;
  margin-top: 5px;
}

.form__forgot-password-link {
  @include link-hover();
  display: block;
  text-align: center;
  font-weight: 400;
  color: $black;
  text-align: center;
  opacity: 0.6;
  margin-top: 20px;
  &:hover {
    opacity: 0.4;
  }
}

.form__create-account {
  margin-top: 20px;
  text-align: center;
  border-top: 1px solid $color-border;
  padding-top: 20px;
}

.form__create-account-text {
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: 500;
}

.form__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .form__field {
    width: 49%;
  }
}
