@import '../../vars';

.form__field {
  margin-bottom: 10px;
}

.form__input {
  font-family: $font-primary;
  border: 1px solid $color-border;
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  transition: box-shadow 0.3s;
  &:focus {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
}

.form__textarea {
  resize: none;
  height: 100px;
}

.form__button {
  width: 100%;
}
